@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* TODO: USE LOCAL */

/* @tailwind base; */

/* base gives trouble with divider by setting border color to 0 to "*" selector */

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.bottom-0{
  bottom: 0px;
}

.m-0{
  margin: 0px;
}

.m-auto{
  margin: auto;
}

.mx-3{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.h-full{
  height: 100%;
}

.w-full{
  width: 100%;
}

.cursor-pointer{
  cursor: pointer;
}

.columns-2{
  -moz-columns: 2;
       columns: 2;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.place-content-center{
  place-content: center;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-normal{
  justify-content: normal;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-10{
  gap: 2.5rem;
}

.gap-20{
  gap: 5rem;
}

.gap-28{
  gap: 7rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-x-3{
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.border-2{
  border-width: 2px;
}

.border-dashed{
  border-style: dashed;
}

.p-2{
  padding: 0.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.pl-7{
  padding-left: 1.75rem;
}

.pt-4{
  padding-top: 1rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.pt-7{
  padding-top: 1.75rem;
}

.align-middle{
  vertical-align: middle;
}

.font-body{
  font-family: Montserrat;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* ------------------------------------------------------ */

/*                  LAYOUT NORMALIZATION                  */

/* ------------------------------------------------------ */

html,
body,
.page {
  height: 100%;
  background-color: var(--neutral-layer-1);
  color: var(--neutral-foreground-hint);
}

main,
main > article {
  height: calc(100% - 65px);
}

/* FluentUI fixes */

.fluent-nav-item a.fluent-nav-link {
  width: 100%;
}

/* ------------------------------------------------------ */

/*                     STANDARD COLORS                    */

/* ------------------------------------------------------ */

.error,
.red {
  color: var(--error);
}

.validation-message {
  color: var(--error);
}

h1.page-title{
  padding-top: 1.75rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--neutral-foreground-hint) !important;
}

h1.page-title-no-pt{
  font-weight: 400;
  text-transform: uppercase;
  color: var(--neutral-foreground-hint) !important;
}

.color-fg {
  color: var(--neutral-foreground-rest);
}