@using FisherTournament.WebServer.Common;
@using FisherTournament.WebServer.Services.LeaderboardNotification;
@using Microsoft.Fast.Components.FluentUI.DesignTokens

@namespace FisherTournament.WebServer.Shared

@inherits LayoutComponentBase
@implements IDisposable

@inject BaseLayerLuminance BaseLayerLuminance
@inject GlobalState GlobalState
@inject LeaderboardNotificationService _leaderboardNotificationService
@inject IToastService _toast
@inject IJSRuntime _js
@inject NavigationManager Navigation

<PageTitle>Control</PageTitle>


<div class="page overflow-y-scroll" @ref="container">
    <div class="top-bar">
        <NavMenu OnToggleTheme="@SwitchTheme" IsInDarkMode="@IsInDarkMode" />
    </div>

    <main style="height: calc(100% - 90px);">
        <article class="content ml-[13px] mr-[13px] mb-0 h-full">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div class="flex h-full flex-col items-center justify-center">
                        <p class="color-fg">There was an unexpected error. Sorry!</p>
                        <FluentButton OnClick="@(() => _js.GoBack())">Go back</FluentButton>
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </article>
        <FluentToastContainer MaxToastCount="10" Timeout=@ToastTimeout RemoveToastsOnNavigation="false"  />
        <FluentDialogProvider />
        <FluentTooltipProvider />

        <FluentOverlay @bind-Visible=@_navigating
                       Opacity="0.1"
                       FullScreen="true"
                       Dismissable="false"
                       PreventScroll=true>
            <FluentProgressRing />
        </FluentOverlay>
    </main>
</div>

@code {
    [Inject]
    private BodyFont BodyFont { get; set; } = default!;

    ElementReference container;

    private const int ToastTimeout = 5;

    StandardLuminance _baseLayerLuminance = StandardLuminance.LightMode;

    private bool IsInDarkMode = false;

    private ThrottleCall _showLeaderBoardUpdateDelted = new(ToastTimeout);

    private IJSObjectReference? _jsModule;

    private IDisposable? registration;
    private bool _navigating = false; 

    protected override void OnInitialized()
    {
        _showLeaderBoardUpdateDelted.CallBack += async () =>
        {
            _toast.ShowInfo("Se actualizó la tabla de posiciones");
            await InvokeAsync(StateHasChanged);
        };

        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await BodyFont.SetValueFor(container, "\"Montserrat\", \"Segoe UI Variable\", \"Segoe UI\", sans-serif");

            _jsModule = await _js.InvokeAsync<IJSObjectReference>("import", "./Shared/MainLayout.razor.js");

            bool prefeersDarkMode = await _jsModule!.InvokeAsync<bool>("prefeersDarkMode");

            IsInDarkMode = _baseLayerLuminance == StandardLuminance.DarkMode;

            if (!IsInDarkMode && prefeersDarkMode) {
                SwitchTheme();
                StateHasChanged();
            }

            _leaderboardNotificationService.OnLeaderboardWasUpdated += OnLeaderboardUpdated;

            registration =
                Navigation.RegisterLocationChangingHandler(OnLocationChanging);            
        }

        if (_navigating)
        {
            _navigating = false;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async ValueTask OnLocationChanging(LocationChangingContext context)
    {
        _navigating = true;
        await InvokeAsync(StateHasChanged);
    }

    public async void SwitchTheme()
    {
        IsInDarkMode = !IsInDarkMode;

        if (_baseLayerLuminance == StandardLuminance.LightMode)
            _baseLayerLuminance = StandardLuminance.DarkMode;
        else
            _baseLayerLuminance = StandardLuminance.LightMode;

        await BaseLayerLuminance.SetValueFor(container, _baseLayerLuminance.GetLuminanceValue());

        GlobalState.SetLuminance(_baseLayerLuminance);
    }

    Task OnLeaderboardUpdated(LeaderboardUpdatedEventArgs e)
    {
        _showLeaderBoardUpdateDelted.Call();

        /*_toast.CloseToast("leaderboard-update");

        _toast.ShowConfirmationToast(new ToastParameters<ConfirmationToastContent>()
            {
                Id = "leaderboard-update",
                Intent = ToastIntent.Info,
                Title = "Se actualizó la tabla de posiciones",
                Timeout = 5,
                TopCTAType = ToastTopCTAType.Dismiss,
                TopAction = null,
                OnTopAction = null,
                Icon = (new Icons.Regular.Size20.Info(), Color.Accent)
            });*/
        
         return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        _leaderboardNotificationService.OnLeaderboardWasUpdated -= OnLeaderboardUpdated;

        registration?.Dispose();
    }
}