@namespace FisherTournament.WebServer.Shared
@inject NavigationManager _nav

<div>
    <FluentToolbar style="height: 55px;width:100%;background-color: var(--neutral-layer-3)" class="shadow gap-x-5 flex justify-between">
            @* <FluentSkeleton Width="175px" Height="30px" Shimmer="true"></FluentSkeleton> *@
            <div class="logo" role="presentation" aria-hidden="true" itemprop="logo" itemscope="itemscope">
            <?xml version="1.0" encoding="UTF-8" ?>
            <svg width="140" height="40" version="1.2" viewBox="0 0 180 55" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><style /><path d="m63.4 2.4h6.2l1.4 12.6h-4.5l-0.3-9-1.8 9h-4.5l-1.8-8.9-0.2 8.9h-4.5l1.3-12.6h5.9l1.5 8.2zm24.4 12.6h-4.5q-0.3-1-0.9-2.5h-5.5l-0.9 2.5h-4.4l4.9-12.6h6.4zm-10-5.2h3.6q-0.7-1.8-1.3-3.6l-0.5-1.2q-0.6 1.6-1.8 4.8zm24.9-3.2q0 1.5-0.8 2.6-0.7 1-2.5 1.5 0.2 0.2 0.3 0.4l2.8 3.9h-4.7q-0.8-1.4-2.4-4h-2.6v4h-4.1q0.1-3.4 0.1-6.3t-0.1-6.3h7.7q3.5 0 4.9 1.1 1.4 1.2 1.4 3.1zm-7.5-0.9h-2.4v2h2.4q1.4 0 2.2-0.1 0.7-0.1 1-0.3t0.3-0.6-0.2-0.6q-0.3-0.2-1.1-0.3t-2.2-0.1zm22.9-3.3v3.6q-2.7 0-5.3-0.1v9.1h-4.3v-9.1q-2.6 0.1-5.3 0.1v-3.6zm11.5 0v3.5q-2.1-0.2-3.1-0.2v6q1 0 3.1-0.2v3.5h-10.1v-3.5q2 0.2 3 0.2v-6q-1 0-3 0.2v-3.5zm11.7 0h4.2q-0.1 2.9-0.1 6.3t0.1 6.3h-6.2l-4.2-9.5 0.3 9.5h-4.4q0.1-3.4 0.1-6.3t-0.1-6.3h6.3l4.3 9.8zm-83.7 20h3.6q3.5 0 4.8 1.2 1.4 1.2 1.4 3.4 0 1.6-0.6 2.6-0.5 1.1-1.9 1.7-1.3 0.6-3.7 0.6h-3.6v3.1h-4.3q0.2-3.4 0.2-6.4 0-2.9-0.2-6.3h4.3zm0 6.2h2.4q1.4 0 2.1-0.1 0.8-0.1 1-0.4 0.3-0.3 0.3-0.9 0-0.5-0.2-0.8-0.3-0.3-1-0.4t-2.2-0.1h-2.4zm15.3 1.4v1.8q6.6 0 9.5-0.2-0.1 0.7-0.1 1.5 0 0.7 0 1.9h-13.5q0.1-3.4 0.1-6.3 0-3-0.1-6.3h13.5v3.1h-9.4v1.7q0.8 0 2.4 0 2.8 0 5.7-0.1v3q-2.9-0.1-5.7-0.1-1.6 0-2.4 0zm10.9 3.5q0.6-0.9 1-1.7 0.4-0.7 0.8-1.7 1.2 0.7 2.8 1.1 1.7 0.4 3.1 0.4t2-0.3q0.6-0.2 0.6-0.5 0-1.1-3.2-1.1-3.6 0-5.2-0.7-1.6-0.8-1.6-2.4 0-2.3 2-3.5 1.9-1.1 5-1.1 1.8 0 3.7 0.5 1.9 0.4 3.5 1.2-0.5 1.2-1.1 2.8-0.1 0.4-0.2 0.6-0.9-0.7-2.7-1.2-1.7-0.5-3.1-0.5-1.7 0-2.2 0.2-0.6 0.2-0.6 0.7 0 0.4 0.8 0.6 0.8 0.3 2.3 0.3 3.6 0 5.3 0.8 1.7 0.9 1.7 2.6 0 2.4-1.8 3.5t-5.4 1.1q-1.9 0-3.9-0.5-2-0.4-3.6-1.2zm23.7 1.7q-3.9 0-5.8-1.7-1.8-1.7-1.8-4.8t1.8-4.9q1.9-1.8 5.8-1.8 5.5 0 7.4 3.8-1.6 0.5-3.7 1.6-0.5-1-1.6-1.4-1.1-0.5-2.2-0.5-1.7 0-2.5 0.9-0.8 0.8-0.8 2.1 0 1.4 0.9 2.3 0.8 0.9 2.7 0.9 1.4 0 2.2-0.5 0.9-0.5 1.3-1.5 1.4 0.7 3.6 1.7-0.8 2.1-2.9 2.9-2 0.9-4.4 0.9zm24.2-0.2h-4.5q-0.3-1-0.9-2.5h-5.5l-0.9 2.5h-4.3l4.8-12.6h6.4zm-9.9-5.2h3.5q-0.6-1.8-1.3-3.7l-0.4-1.1q-0.6 1.6-1.8 4.8zm16-7.6q3.3 0 5.2 0.8t2.6 2.2q0.8 1.4 0.8 3.4 0 1.9-0.9 3.4-0.8 1.4-2.6 2.2-1.7 0.8-4.2 0.8-1.6 0-3.2 0t-3.2 0q0.1-3.5 0.1-6.4 0-3-0.1-6.3 2.1-0.1 5.5-0.1zm-1.2 9.3h2.6q1.6 0 2.1-0.8 0.5-0.7 0.5-2.1 0-1.3-0.5-2.2-0.6-0.8-2.1-0.8-1.7 0-2.6 0.1zm18.9 3.7q-3.9 0-5.8-1.8-1.9-1.7-1.9-4.8t1.9-4.8q1.8-1.8 5.8-1.8t5.9 1.8q1.9 1.7 1.9 4.8t-1.9 4.8q-1.8 1.8-5.9 1.8zm0-3.6q2 0 2.8-0.7 0.9-0.8 0.9-2.3t-0.9-2.3q-0.8-0.7-2.8-0.7-1.9 0-2.7 0.7-0.9 0.8-0.9 2.3t0.9 2.3q0.8 0.7 2.7 0.7zm23.1-5q0 1.5-0.7 2.5-0.8 1.1-2.5 1.5 0.2 0.3 0.2 0.5l2.9 3.9h-4.8q-0.7-1.4-2.4-4h-2.5v4h-4.1q0.1-3.4 0.1-6.3t-0.1-6.3h7.6q3.5 0 4.9 1.1 1.4 1.2 1.4 3.1zm-7.5-0.9h-2.3v2h2.3q1.5 0 2.2-0.1 0.8-0.1 1.1-0.3t0.3-0.6-0.3-0.6-1-0.3q-0.8-0.1-2.3-0.1z" /><path d="m60.6 49.6q0-0.1-0.1-0.2t-0.3-0.1-0.3 0.2q-0.2 1-0.9 1.5t-1.7 0.5q-0.8 0-1.5-0.4-0.7-0.5-1.1-1.3-0.5-0.8-0.5-2 0-1 0.4-1.8t1.1-1.2 1.6-0.4q0.6 0 1.2 0.2 0.5 0.2 0.8 0.7 0.4 0.4 0.5 1 0 0.1 0.1 0.2t0.2 0.1 0.2-0.1 0.1-0.2v-2.1q0-0.1-0.1-0.2t-0.2-0.1-0.2 0.1-0.1 0.2v0.8q-0.2-0.4-0.6-0.7-0.4-0.2-0.9-0.4-0.5-0.1-1-0.1-1.1 0-1.9 0.5-0.9 0.5-1.3 1.4-0.5 0.9-0.5 2.1 0 1.3 0.5 2.3 0.4 0.9 1.3 1.5 0.8 0.5 1.9 0.5 1 0 1.6-0.3 0.7-0.4 1.2-0.9 0.4-0.6 0.5-1.2 0 0 0-0.1zm1.8-5.7q-0.1 0-0.2 0.1t-0.1 0.2 0.1 0.2 0.2 0.1h1.6v6.9h-1.9q-0.1 0-0.2 0.1t-0.1 0.2 0.1 0.2 0.2 0.1h6.2q0.3 0 0.4-0.1 0.1-0.2 0.1-0.4l0.3-2.2q0-0.2-0.2-0.3-0.1-0.1-0.2-0.1t-0.2 0.1-0.1 0.2l-0.3 1.9q0 0.2-0.1 0.2 0 0.1-0.2 0.1h-3.1v-6.9h1q0.2 0 0.3-0.1t0.1-0.2-0.1-0.2-0.3-0.1zm14.8 5.2v-4.6h0.8q0.2 0 0.4-0.1 0.1-0.1 0.1-0.2t-0.2-0.2q-0.1-0.1-0.3-0.1h-2.3q-0.2 0-0.3 0.1t-0.1 0.2 0.1 0.2 0.3 0.1h0.8v4.6q0 0.7-0.2 1.3-0.3 0.5-0.8 0.8t-1.1 0.3q-1 0-1.6-0.6t-0.6-1.8v-4.6h1.2q0.1 0 0.2-0.1t0.1-0.2-0.1-0.2-0.2-0.1h-2.8q-0.2 0-0.3 0.1t-0.1 0.2 0.1 0.2 0.3 0.1h1v4.6q0 1 0.3 1.6 0.4 0.7 1 1.1 0.7 0.3 1.5 0.3t1.4-0.4q0.7-0.3 1-1 0.4-0.7 0.4-1.6zm7.1-1.7q0.5-0.1 0.8-0.5 0.3-0.5 0.3-1.1 0-1-0.7-1.5-0.8-0.4-2.1-0.4h-2.5q-0.2 0-0.3 0.1 0 0 0 0.2 0 0.1 0.1 0.2 0 0.1 0.2 0.1h1.2v6.9h-1.2q-0.1 0-0.2 0.1t-0.1 0.2 0.1 0.2 0.3 0.1h2.4q1.6 0 2.6-0.6 0.9-0.6 0.9-1.8 0-1-0.5-1.5-0.5-0.6-1.3-0.7zm-1.5-0.1h-0.9v-2.8h0.8q1 0 1.6 0.3t0.6 1.1q0 0.5-0.3 0.8t-0.8 0.5q-0.4 0.1-1 0.1zm-0.1 4.1h-0.8v-3.5h0.9q0.8 0 1.4 0.1t0.9 0.4q0.4 0.4 0.4 1.1 0 1-0.8 1.5-0.7 0.4-2 0.4zm16.5-7.5h-2.4q-0.2 0-0.3 0.1t-0.1 0.2 0.1 0.2 0.2 0.1h1.2v6.9h-1.2q-0.1 0-0.2 0.1t-0.1 0.2 0.1 0.2 0.2 0.1h2.5q2 0 3-1t1-3.1q0-2-1.1-3-1-1-2.9-1zm0.1 7.5h-0.8v-6.9h0.9q1.5 0 2.3 0.9 0.8 0.8 0.8 2.5 0 1.8-0.7 2.6-0.8 0.9-2.5 0.9zm10.8-4.8q0-0.2-0.1-0.3t-0.2-0.1-0.2 0.1q0 0.1-0.1 0.2v1h-2.3v-3h4.2l0.1 1.7q0 0.1 0.1 0.2 0.1 0 0.2 0t0.2 0q0.1-0.1 0.1-0.3v-1.9q0-0.1-0.1-0.2t-0.3-0.1h-6.1q-0.2 0-0.3 0.1 0 0.1 0 0.2t0 0.2q0.1 0.1 0.3 0.1h0.9v6.9h-1.2q-0.1 0-0.2 0.1t-0.1 0.2 0.1 0.2 0.3 0.1h6.4q0.2 0 0.3-0.1t0.1-0.3v-1.8q0-0.2-0.1-0.3t-0.2-0.1-0.2 0.1-0.1 0.2l-0.1 1.7h-4.3v-3.4h2.3v1q0.1 0.2 0.1 0.2 0.1 0.1 0.2 0.1t0.2-0.1 0.1-0.2zm15.1-2.8h-2.4q-0.2 0-0.3 0.1t-0.1 0.3q0 0.1 0.1 0.2 0.1 0 0.3 0h1.1v7h-1.2q-0.2 0-0.3 0.1t-0.1 0.2 0.1 0.2 0.3 0.1h4.1q0.2 0 0.3-0.1t0.1-0.2-0.1-0.2-0.3-0.1h-2.2v-3.1h0.8q1.1 0 1.8-0.1t1.2-0.6 0.5-1.5-0.5-1.5-1.3-0.6q-0.7-0.2-1.9-0.2zm0.4 4h-1v-3.4h0.7q0.9 0 1.5 0.1t1 0.5q0.4 0.3 0.4 1.1t-0.3 1.1q-0.4 0.4-0.9 0.5t-1.4 0.1zm10.3-1.2q0-0.2-0.1-0.3 0-0.1-0.2-0.1-0.1 0-0.1 0.1-0.1 0.1-0.1 0.2l-0.1 0.9h-2.3v-3h4.2l0.1 1.7q0 0.2 0.1 0.2 0.1 0.1 0.2 0.1t0.2-0.1 0.1-0.2v-1.9q0-0.2-0.1-0.2-0.1-0.2-0.3-0.2h-6.1q-0.1 0-0.2 0.1t-0.1 0.3q0 0.1 0.1 0.2 0 0 0.2 0h0.9v7h-1.1q-0.2 0-0.3 0.1t-0.1 0.2 0.1 0.2 0.3 0.1h6.4q0.2 0 0.3-0.1t0.1-0.3v-1.9q0-0.1-0.1-0.2t-0.2-0.1-0.2 0q-0.1 0.1-0.1 0.2l-0.1 1.8h-4.3v-3.4h2.3l0.1 1q0 0.1 0.1 0.2 0 0.1 0.1 0.1 0.2 0 0.2-0.1 0.1-0.1 0.1-0.3zm9.2-1.1v0.6q0 0.1 0.1 0.2t0.2 0.1 0.2-0.1 0.1-0.2v-1.8q0-0.3-0.1-0.4 0-0.1-0.2-0.1t-0.3 0.2q0 0.1 0 0.4-0.4-0.3-0.9-0.5-0.5-0.1-1.1-0.1-0.7 0-1.3 0.3-0.5 0.2-0.8 0.7t-0.3 1.1 0.2 1q0.3 0.4 0.7 0.6 0.4 0.3 1 0.5l1.2 0.4q0.5 0.2 0.9 0.4 0.3 0.1 0.5 0.4t0.2 0.7q0 0.9-0.6 1.3-0.5 0.4-1.3 0.4-0.6 0-1.1-0.2t-0.9-0.5q-0.3-0.3-0.3-0.6v-0.8q0-0.2-0.1-0.3t-0.2-0.1q-0.2 0-0.3 0.1 0 0.1 0 0.3v2.2q0 0.2 0 0.4 0.1 0.1 0.3 0.1t0.2-0.3q0.1-0.2 0.1-0.6 0.4 0.4 1 0.6 0.7 0.3 1.3 0.3 0.7 0 1.3-0.3 0.5-0.2 0.9-0.7 0.3-0.5 0.3-1.3 0-0.6-0.2-1-0.3-0.4-0.7-0.6-0.5-0.3-1.2-0.6l-0.9-0.3q-0.7-0.2-1-0.4-0.3-0.1-0.5-0.4-0.2-0.2-0.2-0.7 0-0.7 0.5-1.1t1.4-0.4q0.4 0 0.9 0.1 0.4 0.1 0.6 0.4 0.3 0.2 0.4 0.6zm10.2 4.2q0-0.2-0.2-0.2-0.1-0.1-0.2-0.1-0.2 0-0.3 0.2-0.3 0.9-1 1.4-0.7 0.6-1.6 0.6t-1.6-0.5q-0.7-0.4-1.1-1.2-0.4-0.9-0.4-2 0-1 0.4-1.8 0.3-0.8 1-1.2 0.7-0.5 1.7-0.5 0.6 0 1.1 0.2 0.5 0.3 0.9 0.7 0.3 0.4 0.4 1 0.1 0.2 0.1 0.3 0.1 0 0.3 0 0.1 0 0.2 0 0.1-0.1 0.1-0.3v-2q0-0.2-0.1-0.3t-0.3-0.1q-0.1 0-0.2 0.1t-0.1 0.3v0.7q-0.2-0.3-0.6-0.6-0.3-0.3-0.8-0.4-0.5-0.2-1.1-0.2-1 0-1.9 0.5-0.8 0.5-1.3 1.4-0.5 1-0.5 2.1 0 1.3 0.5 2.3t1.3 1.5q0.9 0.6 1.9 0.6t1.7-0.4q0.7-0.3 1.1-0.9t0.6-1.2zm3.7 2.3q0.1 0 0.2 0 0.1-0.1 0.1-0.3 0-0.1-0.1-0.2-0.1 0-0.2 0h-1.1l0.7-2.2h3.4l0.7 2.2h-1.3q-0.1 0-0.2 0-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3 0.1 0 0.2 0h2.6q0.1 0 0.2 0 0.1-0.1 0.1-0.3 0-0.1-0.1-0.2 0 0-0.2 0h-0.5l-2.6-7.1q-0.1-0.5-0.5-0.5h-2.1q-0.2 0-0.3 0.1t-0.1 0.2 0.1 0.2 0.3 0.1h1.5l-2.7 7h-0.6q-0.1 0-0.2 0-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3 0.1 0 0.2 0zm-0.1-3.2 1.6-4.2 1.4 4.2z" /><g transform="matrix(.58868 0 0 .57343 -4.7733 -2.9015)"><path d="m16.897 4.35s13.072 62.806 46.228 61.29c0 9.473-12.504 13.831-12.504 13.831s-14.02 2.841-17.052 4.926c0 0-0.378-8.147 3.979-15.914 0 0-4.536 5.828-8.246 4.668-4.783-1.497-16.688-11.387-18.946-27.486 0 0 0.884 0.294 1.767 0.294 0 0-4.566-4.365-3.239-21.891l1.374 1.178c1e-3 0-0.938-7.35 6.639-20.896" /><path d="m49.801 59.878s7.507-4.163 12.926-2.941c0 0-0.171 1.598 0.9 2.561 0.605 0.545 0.938 0.832 2.25 0.957 0-1e-3 -6.668 1.163-16.076-0.577" /><path d="m34.187 74.544s-2.083 7.768-1.515 12.314c0 0 3.41-1.326 9.093-2.273l-4.168 9.853s-5.154 1.663-10.648 1.095c-2e-3 -1e-3 3.259-15.116 7.238-20.989" /><path d="m43.611 45.937 5.305 4.926s6.631-5.59 11.178-5.684c0 0 4.927-15.915 19.515-30.692-0.632 0.157-18.401 4.378-20.854 15.373 0 0-0.785-1.865-0.174-3.248 0 0-10.231 5.897-9.643 12.672 0 0-0.785-0.295-0.969-1.778 0 0-3.409 3.884-4.358 8.431" /><path d="m68.176 62.181s-2.592 2.432-6.045 2.527c-3.811 0.105-8.953-1.139-12.409-3.967 0 0 7.766 2.032 12.094 1.101 4.004-0.864 6.36 0.339 6.36 0.339" /><path d="m31.998 40.701c5.157 9.299 8.542 12.628 16.541 18.308 0 0 18.067-10.046 20.651 2.842 0 0 14.776 7.389 22.166 8.904 0 0-10.608-8.62-16.295-12.409 0 0-10.229-21.125-26.712-3.694 0-1e-3 -7.809-4.871-16.351-13.951" /><path d="m63.424 57.124s-0.525 2.105 3.625 2.982c0 1e-3 -0.526-2.629-3.625-2.982" /></g><g transform="matrix(.51871 0 0 .5395 -.788 -.38261)" fill="#fff"><path d="m16.897 4.35s13.072 62.806 46.228 61.29c0 9.473-12.504 13.831-12.504 13.831s-14.02 2.841-17.052 4.926c0 0-0.378-8.147 3.979-15.914 0 0-4.536 5.828-8.246 4.668-4.783-1.497-16.688-11.387-18.946-27.486 0 0 0.884 0.294 1.767 0.294 0 0-4.566-4.365-3.239-21.891l1.374 1.178c1e-3 0-0.938-7.35 6.639-20.896" /><path d="m49.801 59.878s7.507-4.163 12.926-2.941c0 0-0.171 1.598 0.9 2.561 0.605 0.545 0.938 0.832 2.25 0.957 0-1e-3 -6.668 1.163-16.076-0.577" /><path d="m34.187 74.544s-2.083 7.768-1.515 12.314c0 0 3.41-1.326 9.093-2.273l-4.168 9.853s-5.154 1.663-10.648 1.095c-2e-3 -1e-3 3.259-15.116 7.238-20.989" /><path d="m43.611 45.937 5.305 4.926s6.631-5.59 11.178-5.684c0 0 4.927-15.915 19.515-30.692-0.632 0.157-18.401 4.378-20.854 15.373 0 0-0.785-1.865-0.174-3.248 0 0-10.231 5.897-9.643 12.672 0 0-0.785-0.295-0.969-1.778 0 0-3.409 3.884-4.358 8.431" /><path d="m68.176 62.181s-2.592 2.432-6.045 2.527c-3.811 0.105-8.953-1.139-12.409-3.967 0 0 7.766 2.032 12.094 1.101 4.004-0.864 6.36 0.339 6.36 0.339" /><path d="m31.998 40.701c5.157 9.299 8.542 12.628 16.541 18.308 0 0 18.067-10.046 20.651 2.842 0 0 14.776 7.389 22.166 8.904 0 0-10.608-8.62-16.295-12.409 0 0-10.229-21.125-26.712-3.694 0-1e-3 -7.809-4.871-16.351-13.951" /><path d="m63.424 57.124s-0.525 2.105 3.625 2.982c0 1e-3 -0.526-2.629-3.625-2.982" /></g></svg>

            </div>

            @DividerTemplate

        <FluentNavMenu Style="width: fit-content !important; flex-direction: row;align-items: center !important;" Id="nav-page" Class="gap-x-1 w-fit flex items-center flex-row">
                <FluentNavLink Href="/tournaments" Icon="@(new Icons.Regular.Size20.Trophy())">Fechas y Torneos</FluentNavLink>

                @DividerTemplate

                <FluentNavLink Href="/fishers" Icon="@(new Icons.Regular.Size20.People())">Pescadores</FluentNavLink>

                @if (_nav.Uri.Contains("/notary"))
                {
                    @DividerTemplate

                    <FluentNavLink Href=@_nav.Uri Icon="@(new Icons.Regular.Size20.NotepadPerson())">Notario</FluentNavLink>
                }
            </FluentNavMenu>

            <span slot="end">
            <FluentSwitch @bind-Value="@IsInDarkMode" @bind-Value:after=OnToggleTheme title="Tema">
                    <span class="label">Tema</span>
                    <span slot="unchecked-message">
                        <FluentIcon class="align-middle" Icon="Icons.Regular.Size20.WeatherSunny" Color="Color.Neutral" />
                    </span>
                    <span slot="checked-message">
                        <FluentIcon class="align-middle" Icon="Icons.Regular.Size20.WeatherMoon" Color="Color.Neutral" />
                    </span>
                </FluentSwitch>
            </span>
    </FluentToolbar>
</div>

@code {
    private RenderFragment DividerTemplate = @<FluentDivider Style="height: 20px;" Class="mx-2" Role="DividerRole.Separator"
        Orientation="Orientation.Vertical">
        </FluentDivider>
    ;

    [Parameter]
    public Action OnToggleTheme { get; set; }

    [Parameter]
    public bool IsInDarkMode { get; set; } = false;

    private void NavigateToHome() => _nav.NavigateTo("/");
    private void NavigateToEvents() => _nav.NavigateTo("/events");
    private void NavigateToTournaments() => _nav.NavigateTo("/tournaments");
    private void NavigateToFishers() => _nav.NavigateTo("/fishers");

    private void OnPescadoresMenuChange(MenuChangeEventArgs arg)
    {
        @* Anchor doesn't work inside a FluentMenuItem 🤷 *@
        if (arg.Id is null) return;

        if (arg.Id == "fisher-add") _nav.NavigateTo("/fishers/add");
        else if (arg.Id == "fisher-search") _nav.NavigateTo("/fishers");
    }
}
