@layout TournamentLayout
@page "/tournament/{TournamentId}/add/score"
@using FisherTournament.Application.Competitions.Commands.AddScore;
@using FisherTournament.Application.Competitions.Queries.GetTournamentCompetitions;
@using FisherTournament.Application.Fishers.Queries;
@using FisherTournament.Application.Tournaments.Queries.GetInscription;
@using FisherTournament.Contracts.Competitions;
@using FisherTournament.WebServer.Common.Model;

@inject IToastService _toastService
@inject NavigationManager _nav
@inject ISender _sender
@inject IJSRuntime _js
@inject IMapper _mapper

<div class="h-full relative">
	<h1 class="page-title-no-pt">Agregar puntaje</h1>

	<AddScoreForm OnSavedSuccessfully=@OnSavedSuccessfully TournamentId="@TournamentId" />
</div>

@code {
	[Parameter]
	public string TournamentId { get; set; } = null!;

	public async void OnSavedSuccessfully()
	{
		await _js.GoBack();
	}
}