.section-separator .section-separator-content {
    padding: 2px 8px;
    background: var(--neutral-layer-1);
    line-height: 13px;
    margin-top: -1px;
    font-weight: 600;
    border-radius: 8px;
    color: var(--neutral-stroke-strong-active);
}

.section-separator {
    z-index: 1;
    height: 0;
    border-top: thin solid var(--neutral-stroke-divider-rest);
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-top: 1.5rem;
    margin-bottom: 1.5rem;*/
}
