@page "/"

@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components

@namespace FisherTournament.WebServer.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject NavigationManager _nav

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    @* <link href="css/site.css" rel="stylesheet" /> *@
    <link href="FisherTournament.WebServer.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css" asp-append-version="true" />
    <link href="_content/Microsoft.Fast.Components.FluentUI/css/reboot.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="favicon.png" />

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body class="font-body">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>

    <!-- global function: Trigger File download from URL -->
    <script>
        window.triggerFileDownload = (fileName, url) => {
            const anchorElement = document.createElement('a');
            anchorElement.href = url;
            anchorElement.download = fileName ?? '';
            anchorElement.click();
            anchorElement.remove();
        }
    </script>
</body>

</html>